<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>TSWeb.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>F24951891EC562E900F1D00F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F24951A21EC562E900F1D00F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F24951AD1EC562E900F1D00F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
